.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures items are spaced left and right */
  gap: 1rem; /* Adds a gap between flex items */
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
