<h2>Signup</h2>
<form (submit)="signup(); $event.preventDefault()">
  <input [(ngModel)]="name" name="name" placeholder="Name" required />
  <input [(ngModel)]="email" name="email" placeholder="Email" required />
  <input
    [(ngModel)]="password"
    name="password"
    placeholder="Password"
    type="password"
    required
  />
  <button type="submit">Signup</button>
  <p *ngIf="message" style="color: green">{{ message }}</p>
</form>
<p>Already have an account? <a routerLink="/login">Login</a></p>
