.footer {
  background-color: #333;
  color: white;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  padding: 2px;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 2px;
}

.footer a:hover {
  text-decoration: underline;
}
